.one{
	text-align: center;

	
}
.two{
	background-color: #CEFF68;
	margin-left: 540px;
	margin-right: 200px;
}
.three{
	width: 200px;
	height: 60px;
	background-color: #16A9FF;
	border-radius: 30px;
	color: white;
	font-size: 25px;
	font-variant-caps: all-petite-caps;
	 cursor: pointer;
}